.containerMeals {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
	margin: 0 auto;
}
.containerMeals .box {
	max-width: 700px;
	width: 100%;
}
.text {
	position: relative;
	font-weight: bold;
	text-align: left;
	align-self: flex-start;

	margin: 1em 1em 0.5em;
}
h3::before {
	position: absolute;
	top: 0;
	bottom: 0;
	left: -5px;
	content: '';
	width: 3px;
	height: 100%;
	margin-right: 1em;
	background-color: var(--main-color);
}
.wrapper {
	padding: 1em;
	height: 100%;
}
li {
	padding: 0;
}
