.box {
	position: fixed;
	bottom: 3%;
	width: 100%;
	max-width: 1000px;
	z-index: 20;
}
.btn {
	display: flex;
	position: absolute;
	bottom: 3%;
	right: 3%;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	background-color: #edeff1;
	border-radius: 50%;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
	cursor: pointer;
	color: var(--main-color);
}
