.container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	font-size: 1rem;
}
.containerMenu {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

ul {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	padding: 0.1em;
	margin: 0.5em;
	background-color: var(--mainColor);
	border-radius: 10px;
}
li {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	list-style: none;
	padding: 0.3em 1em;
}
a {
	border-radius: 10px;
	font-size: 0.8rem;
	background-color: var(--mainColor);
	border: 2px solid var(--mainColor);
	color: #fff;
	padding: 0.7em 0.7em;
	text-decoration: none;
	transition: background-color 0.35s, color 0.35s;
}
a:hover {
	background-color: #fff;
	color: var(--mainColor);
}
.menuItemActive {
	background-color: red;
}
