.container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

ul {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	padding: 0.5em;
	margin: 0.5em;
}
li {
	list-style: none;
	padding: 0.5em;
	margin: 0.5em;
}
a {
	background-color: var(--mainColor);
	border: 2px solid var(--mainColor);
	color: #fff;
	padding: 1em;

	border-radius: 38px 0 18px 0;
	text-decoration: none;
	transition: background-color 0.35s, color 0.35s;
}
a:hover {
	background-color: #fff;
	color: var(--mainColor);
}
