
.containerTitle img {
	width: 80%;
}
.buttonBack {
	align-self: flex-start;
	margin: 1em;
}
.text {
	font-weight: bold;
	text-align: left;
	align-self: flex-start;
	margin-left: 1em;
}
.infoBox {
	display: flex;
	align-items: center;
	justify-content: center;
}
.infoBox div {
	margin: 0.5em 1em;
	font-size: 0.7rem;
}
.red {
	color: red;
}
.containerRecipe,
.containerPrepatation {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.containerRecipe h5,
.containerPrepatation h5 {
	align-self: flex-start;
	margin: 1em;
}
.containerRecipe div {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80%;
	text-align: center;
	border-bottom: 1px solid rgba(145, 145, 145, 0.3);
}

.containerRecipe div p {
	margin: 0.8em 0.3em;
	font-size: 0.8rem;
}

.count,
.kind,
.item {
	width: 33%;
}

.containerPrepatation p {
	margin: 1em;
	text-align: center;
}
