.containerTitle {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
	margin: 0 auto;
}
.wrapper {
	padding: 1em;
	height: 100%;
}
.containerTitle img {
	width: 80%;
}
.containerTitle h3 {
	position: relative;

	margin: 1em 1em 0.5em;
}
.containerTitle h3::before {
	position: absolute;
	top: 0;
	bottom: 0;
	left: -8px;
	content: '';
	width: 3px;
	height: 100%;
	margin-right: 1em;
	background-color: var(--main-color);
}
.boxBtn {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}
.backBtn,
.editBtn {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1em;
	padding: 0.5em 1em;
	color: rgb(32, 32, 32);
	border-radius: 15px;
	height: 30px;
	transition: all 0.4s;
	font-weight: bold;
	color: #fff;
}
.backBtn {
	border: 2px solid var(--grayColor);
	background-color: var(--grayColor);
}

.editBtn {
	background: var(--editColor);
	border: 2px solid var(--editColor);
}
.editBtn:hover {
	background-color: #fff;
	color: var(--editColor);
}
.backBtn:hover {
	background-color: #fff;
	color: var(--grayColor);
}
.iconBtn {
	margin-right: 0.2em;
}
.text {
	font-weight: bold;
	text-align: left;
	align-self: flex-start;
	margin-left: 1em;
}
.infoBox {
	display: flex;
	align-items: center;
	justify-content: center;
}
.infoBox div {
	margin: 0.5em 1em;
	font-size: 0.7rem;
}
.red {
	color: red;
}
.containerRecipe,
.containerPrepatation {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.containerRecipe h5,
.containerPrepatation h5 {
	align-self: flex-start;
	margin: 1em;
}
.containerRecipe div {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80%;
	text-align: center;
	border-bottom: 1px solid rgba(145, 145, 145, 0.3);
}

.containerRecipe div p {
	margin: 0.8em 0.3em;
	font-size: 0.8rem;
}

.count,
.kind,
.item {
	width: 33%;
}

.containerPrepatation p {
	margin: 1em;
	text-align: center;
}
