.container {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	margin: 0 auto;
}

.wrapper {
	padding: 1em;
}
.icon {
	color: var(--mainColor);
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px,
		rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
	border-radius: 50%;
	cursor: pointer;
	background-color: #fff;
	transition: background-color 0.35s, color 0.35s;
}

.icon:hover {
	background-color: var(--mainColor);
	color: azure;
}

.icon-dark {
	color: red;
}

.icon svg {
	height: 20px;
	width: 20px;
}

.text {
	height: 100%;
	margin: auto;
	text-transform: uppercase;
	font-size: 25px;
}
.subtitle {
	text-align: center;
	opacity: 0.7;
	font-style: italic;
}
.text span {
	font-weight: bold;
	color: var(--mainColor);
}
.add-recipe {
	background-color: transparent;
	border: none;
	padding: 0;
}
.add-recipe:hover {
	background-color: transparent;
}
