.footer {
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgb(226, 226, 226);
	border-top: 2px solid var(--mainColor);
	padding: 1em;
	margin-top: 5em;
}

.footerText {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	/* width: 100%; */
	text-transform: uppercase;
}
.footerText p {
	margin: 0;
}
.footerText span {
	color: var(--mainColor);
}
