.container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin: 1em;
}

.input {
	width: 50%;
	max-width: 400px;
	padding: 0.5em 0.7em;
	border-radius: 15px;
	font-size: 1rem;
	border: 2px solid var(--mainColor);
}
.input:focus {
	border: 2px solid var(--mainColor);
	outline: none;
}

.button {
	background: var(--mainColor);
	border: 2px solid var(--mainColor);
	padding: 0.7em 1em;
	border-radius: 14px;
	margin: 1em;
	color: #fff;
	cursor: pointer;
	transition: background-color 0.35s, color 0.35s;
}
.button:hover {
	background-color: #fff;
	color: var(--mainColor);
}
