.container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.input {
	width: 60%;
	max-width: 400px;
	padding: 0.5em 0.7em;
	border-radius: 15px;
	font-size: 1rem;
	background-color: #edeff1;
	border: 2px solid rgb(196, 195, 195);
}
.input:focus {
	border: 2px solid rgb(226, 226, 226);
	outline: none;
	background-color: #f8f8f8;
}

.button {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background: var(--mainColor);
	border: 2px solid var(--mainColor);
	padding: 0.7em 1em;
	border-radius: 14px;
	margin: 1em;
	color: #fff;
	cursor: pointer;
	transition: background-color 0.35s, color 0.35s;
}
.button:hover {
	background-color: #fff;
	color: var(--mainColor);
}
.icon {
	margin: 0 0.2em;
}
